.popup {
    position:   absolute;
    margin-top:  -6.5em;
    width:      100%;
    padding:    3em 0;
    text-indent: 1.66em
}

/* 履歴を選択していることを明示 */
#history tbody td.hover:before {
    content   : "";
    display   : block;
    position  : absolute; /* .container が基準となる */
    width     : 100%;
    height    : 1.8em;
    z-index   : 1;
    margin-top: -0.2em;
    left      : 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow        : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
}

/* 履歴詳細表示時はダイアログボックス風に表示 */
div.history-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}
.history-detail dl,
.history-detail div {
    background: #fff;
    margin: 0 auto;
    padding: 8px 10%;
    width: 60%;
}
.history-detail dl:first-child {
    margin-top: 64px;
    padding-top: 48px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.history-detail dl:last-child,
.history-detail div:last-child {
    margin-bottom: 64px;
    padding-bottom: 48px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}