.popup {
    position:   absolute;
    margin-top:  -6.5em;
    width:      100%;
    padding:    3em 0;
    text-indent: 1.66em
}

@-webkit-keyframes rotate {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.loading {
    background-image: url(ajax-loader.png);
    width : 16px;
    height: 16px;
    -webkit-animation: rotate 0.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/* 履歴を選択していることを明示 */
#history tbody tr.hover td {
    background-color: rgba(113, 141, 255, 0.5);
}

/* 履歴詳細表示時はダイアログボックス風に表示 */
div.history-detail {
    position: absolute; /* jsと連携してFixed風にする。Android2.3対応 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}
div.history-detail .container {
    background: #fff;
    margin: 64px auto 0;
    padding: 48px 10%;
    width: 60%;
    border-radius: 8px;
}

/* 金額の表示は右寄せ */
td.amount {
    text-align: right;
}
